.footer {
    background-color: black;
    color: white;
    /* padding: 40px 20px 20px;
    margin-top: 60px; */
    font-family: 'Inter', sans-serif;
    position: relative;
}

.footerContent {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width:1200px;
    margin: 0 auto;
}

.footerContent > div {
    /* flex: 1; */
    min-width: 250px;
    margin: 10px;
}

.footerSection h1,
.footerSection h3,
.footerSection h4,
.footerContentHeader h3,
.socialSection h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footerSection p {
    font-size: 14px;
}

/* .socialSection {
  display: flex;
  flex-direction: column;
} */

.socialLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0;
    gap: 1rem;
    margin-top: 20px;
}

.socialItem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}
  
.socialItem:hover {
    color: var(--accent-color);
}


.footerBottom {
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid white;
    margin: 20px 0;
    padding-top: 2rem;
    font-size: 0.9rem;
    color: white;
    width: 100%;
}

@media screen and (max-width:768px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footerSection {
        max-width: 100%;
        width: 100%;
    }

    .socialLinks {
        align-items: center;
        padding: 0;
        margin-top: 10px;
    }

    .socialItem {
        justify-content: center;
    }

}

@media (max-width: 600px) {
  .footerBottom p{
    font-size: 1rem;
    padding: 15px 0;
    margin-top: 12px;
  }
}
