@import url('https://fonts.googleapis.com/css2?family=Cookie&family=MedievalSharp&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=UnifrakturMaguntia&display=swap');

:root {
  --headerFont: "MedievalSharp";
  height: 100vh;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #efeee9;
  min-height: 100%;
  margin: 0;
}