* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

html,body {
  margin:0;
  padding: 0;
  min-height: 100%;
  display:flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;

}

.mainContent {
  flex-grow: 1;
}

